* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: green;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.menu-movil {
  display: none;
}
.categorias {
  color: white;
  text-align: center;
  display: flex;
  gap:2rem;
  list-style: none;
}
.categorias li {
  font-weight: bold;
}
.contenedor-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  align-items: center;
}
.top-banner {
  background-color: #ffcc00;
  color: black;
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(180deg, #390b4f 50%, rgb(255, 255, 255) 80%);
  color: #333;
}
main {
  padding: 20px;
}
.contenedor-inicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}
.gif3 {
    grid-column: 1 / 3;
    width: 100%;
    grid-row: 1/2;
}
.gif {
    width: 100%;
}
.gif_img{
    width: 100%;
    height: 420px;
}
.juego-img {
  width: 230px;
  object-fit: cover;
}
.contenedor-entregas {
  display: flex;
}
.tarjeta-entrega {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  flex: 1;
}
.contenedor-catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px 0; 
  width: 100%;
  bottom: 0;
}
.marcas {
list-style: none;
gap: 30px;
margin-top: 20px;
}
h1{
  font-family: 'Micro 5', sans-serif;
  font-size: 60px;
}
h2 {
  font-family: 'Micro 5', sans-serif;
  font-size: 40px;
  color: white;
  padding: 10px;
}
.tarjeta-producto {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: rgb(219, 217, 87);
  position: relative;
  flex: 0 0 250px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
}
.tarjeta-producto button {
  background-color: #232162;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.soporte {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #23216275;
  color: black;
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  z-index: 1500;
  transition: .2s ease;
}

.soporte:hover {
  background-color: #1a1a4c;
  color: white;
  transform: translateY(-2px);
}
.contacto-footer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
  padding: 30px;
  flex-direction: row;
  align-items: baseline;
}
.contacto-footer h2 {
  font-size: 60px;
}
.contacto-footer p {
  font-size: 25px;
}
.info-contacto {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}
.info-entregas {
  margin-top: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  background-image: url('https://i.redd.it/8yvi61a80yp71.gif');
  background-size: cover;
  background-position: 90%;
}
.info-entregas h2 {
  color:white
}
.info-entregas2 {
  list-style: none;
}
.entregas h2 {
  color:black
}
.formulario {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
@media screen and (max-width: 1024px) {
  .menu-movil {
    display: block;
  }
  .almacen {
    display: none;
  }
  .contenedor-nav h1 {
    margin-top: -5px;
  }
}
@media screen and (max-width: 768px){
    .contenedor-entregas {
        flex-direction: column;
    }
    .contacto-footer {
        flex-direction: column;
        align-items: center;
    }
.gif_img{
    height: auto;
}
.contenedor_inicio {
    grid-template-columns: 1fr;
}
}